# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# Database & Media
db.sqlite3
media/resumes_pdf/

# Frontend
node_modules/
resumeforge-frontend/node_modules/
resumeforge-frontend/dist/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
